<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <span appChangeText>Welcome to {{ title | uppercase }}!</span>
  </h1>
  <b>{{title | lowercase}}</b>
</div>

<app-new-cmp></app-new-cmp>
<div>
<h1>Slice Pipe</h1>
<b>{{months | slice:2:6}}</b>
</div>
<br />
<div> Months:
  <select (change) = "changeMonths($event)" name="month">
    <option *ngFor="let i of months">{{i}}</option>
  </select>
</div>
<br />
<div>
  <span *ngIf="isavailable; then condition1 else condition2">Condition printed here.</span>
  <ng-template #condition1>Condition is valid</ng-template>
  <ng-template #condition2>Condition is invalid</ng-template>
</div>
<button (click)="myClickFunction($event)">
  Click Me
</button>
<div>
  <h1>Custom Pipe</h1>
  <b>Square root of 25 is: {{25 | sqrt}}</b>
  <br />
  <b>Square root of 729 is: {{729 | sqrt}}</b>
</div>
